---
---

@import "breakpoints";

// ********** Farben **********
// $dunkelblau: #212B44;
$weiss: #fefefe;
// $weiss_transp: rgba(255,255,255,.8);
$weiss_transp: rgba(255,255,255,.9);
$weiss_transp2: rgba(255,255,255,.5);

//
// Colors
//

{% assign c = site.data.colours %}
$green: {{ c.green }};
$green2: {{ c.green2 }};
$magenta: {{ c.magenta }};
$magenta2: {{ c.magenta2 }};
$blue:{{ c.blue }};
$dunkelblau:{{ c.dunkelblau }};
$purple: {{ c.purple }};
$orange: {{ c.orange }};
$darkGrey: {{ c.darkGrey }};
$bronze: {{ c.bronze }};
$gold: {{ c.gold }};

// Colors transparent
// $transparency: .3;

// $greenT: rgba(164,186,30,$transparency);
// $magentaT: rgba(230,30,92,$transparency);
// $magenta2T: rgba(183,29,136,$transparency);
// $blueT: rgba(29,144,183,$transparency);
// $violetT: rgba(64,60,150,$transparency);
// $whiteT: rgba(255,255,255,$transparency);


@import 'fonts';

html,body {
  height:100%;
  width:100%;
  font-family:$font;
}
html,body,
header, main, footer, nav,
p,ul,ol,li,
h1,h2,h3,h4,h5,h6
{
  margin:0;
  padding:0;
}

main,footer,header,nav,section,article { /* for IE */
  display:block;
}


html {
  background-color: $dunkelblau;
  color: $weiss;
  -webkit-animation-name: color_change_bg; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 20s; /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
  animation-name: color_change_bg;
  animation-duration: 200s;
  animation-iteration-count: infinite;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes color_change_bg {
    0%   {background-color:$dunkelblau;}
    10%   {background-color:$green;}
    20%   {background-color:$blue;}
    30%  {background-color:$green2;}
    40%  {background-color:$magenta;}
    50%  {background-color:$magenta2;}
    60% {background-color:$purple;}
    70% {background-color:$orange;}
    80% {background-color:$bronze;}
    90% {background-color:$gold;}
    98% {background-color:$darkGrey;}
    100% {background-color:$dunkelblau;}
}

/* Standard syntax */
@keyframes color_change_bg {
    0%   {background-color:$dunkelblau;}
    10%   {background-color:$green;}
    20%   {background-color:$blue;}
    30%  {background-color:$green2;}
    40%  {background-color:$magenta;}
    50%  {background-color:$magenta2;}
    60% {background-color:$purple;}
    70% {background-color:$orange;}
    80% {background-color:$bronze;}
    90% {background-color:$gold;}
    98% {background-color:$darkGrey;}
    100% {background-color:$dunkelblau;}
}

body {
  width:1000px;
  max-width:100%;
  margin:0 auto;
  // background-image: url(/images/logo10_web_395.png);
  background-image: url(/images/logo10_r-transp.svg);
  background-repeat: no-repeat;
  background-position:50% 50%;
  background-size: auto 50%;
  font-size:18px;
}

h1 {
  
}
h2 {
  margin:.5em 0 .3em 0;
  font-size:1.5em;
}
h3 {
  margin:.5em 0 .3em 0;
  font-size:1.2em;
}
h4 {
  margin:.5em 0 .3em 0;
}
h5 {
  margin:.2em 0 .1em 0;
}
h6 {
  
}
p {
  padding-bottom:.5em;
}
a {
  color: $magenta2;
  text-decoration:none;
  border-radius:2px;
  &:hover {
    color: $weiss;
    background-color:$green;
  }
}

header {
  padding-top:1em;
  padding-bottom:1em;
  color:$weiss;
  p.logo {
    float:left;
    margin-left:.2em;
    margin-right:.2em;
    color:$weiss;
    // background-size: fit;
    // overflow:visible;
  a {
    padding:.2em;
    padding-left:3em;
    // background-image: url(/images/logo10_web_50.png);
    background-image: url(/images/logo10_r-transp.svg);
    background-repeat: no-repeat;
    // background-position:.4em 50%;
    // background-size: 2.2em;
    background-position:.5em 50%;
    background-size: 2.0em;
    display: inline-block;
    // display: block;
    // padding-left:10px;
    padding-right:10px;
    color:inherit;
    text-decoration:none;
    border-radius:0;
    // border-top-left-radius:50%;
    border-bottom-right-radius:50%;
    -webkit-transition: background-color .8s, color .3s ease-in-out; /* Firefox */
    -moz-transition: background-color .8s, color .3s ease-in-out; /* WebKit */
    -o-transition: background-color .8s, color .3s ease-in-out; /* Opera */
    transition: background-color .8s, color .3s ease-in-out; /* Standard */
    &:hover {
      text-decoration:none;
      background-color:$weiss_transp;
      -webkit-transition: background-color .8s, color .3s ease-in-out; /* Firefox */
      -moz-transition: background-color .8s, color .3s ease-in-out; /* WebKit */
      -o-transition: background-color .8s, color .3s ease-in-out; /* Opera */
      transition: background-color .8s, color .3s ease-in-out; /* Standard */
    }
  }
  }
}

main {
  background-color: $weiss_transp;
  // padding:.5em 1em;
  padding: 1em;
  // color:$dunkelblau;
  color:$darkGrey;
  border-top-left-radius:1em;
  padding-bottom:2em;//Abstandhalter für fixed footer
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
  ul,ol {
    list-style-position:inside;
    list-style-type:disc;
    padding-left:.5em;
  }
}

footer {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  background-color:$dunkelblau;
  // background-color:inherit;
}

// ********** Navigation **********
nav {
  font-family:$font;
  padding:.2em;
  * {
    font-family:inherit;
  }
  ul, ol {
    padding:0;
    // font-size:2.2em;
  }
  a {
    display: inline-block;
    padding-left:10px;
    padding-right:10px;
    color:inherit;
    text-decoration:none;
    // border-radius:5px;
    border-top-left-radius:50%;
    border-bottom-right-radius:50%;
    -webkit-transition: background-color .8s, color .3s ease-in-out; /* Firefox */
    -moz-transition: background-color .8s, color .3s ease-in-out; /* WebKit */
    -o-transition: background-color .8s, color .3s ease-in-out; /* Opera */
    transition: background-color .8s, color .3s ease-in-out; /* Standard */
    &:hover {
      text-decoration:none;
      background-color:$weiss_transp2;
      -webkit-transition: background-color .8s, color .3s ease-in-out; /* Firefox */
      -moz-transition: background-color .8s, color .3s ease-in-out; /* WebKit */
      -o-transition: background-color .8s, color .3s ease-in-out; /* Opera */
      transition: background-color .8s, color .3s ease-in-out; /* Standard */
    }
  }
}
.top-nav, .bottom-nav {
  li {
    display: inline-block;
  }
}
.top-nav {
  padding-left:10px;
  a {
    font-size:inherit;
  }
}
.left-nav {
  float:left;
  li {
    display: inline-block;
  }
  a {
    font-size:inherit;
  }
}
.bottom-nav {
  float:right;
  // font-size:14px;
  a {
    font-size:inherit;
  }
}




.collection {
  margin:10px 0;
  padding:5px;
  border-top:1px solid $darkGrey;
}
.label {
  border-radius: 2px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12) inset;
  color: #fff;
  display: inline-block;
  font-size: .8em;
  font-weight: bold;
  line-height: 1;
  padding: 4px 5px;
  background-color:$green;
}

// Inhaltsverzeichnis
#markdown-toc {
  // display:inline-block;
  clear:right;
  float:right;
  width:300px;
  max-width:33%;
  padding-top:10px;
  padding-right:10px;
  padding-bottom:10px;
  margin:0px 0 10px 10px;
  border:1px solid $darkGrey;
  border-bottom-left-radius:10px;
  background-color:$weiss;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12) inset;
  list-style-type:circle;
  list-style-position:outside;
  padding-left:1.5em;
  font-size:.8em;
  &:before {
    content: "Inhaltsverzeichnis";
    padding:0 2px 2px 0px;
  }
  
  // @include breakpoint(verysmall) {
    // width: 100%;
  // }
}

/******* markdown images in p tags ************/
main p img {
  display:block;
  margin: 1em auto;
  // background-color:$weiss;
  // padding:10px;
  // border: 1px solid $darkGrey;
  border-radius:2px;
  width:500px;
  max-width:100%; 
  
  // width: 80px;
  // margin:10px;
  padding:1px;
  background:$weiss;
  border: 9px solid $darkGrey;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
}

/************ Seiten-Layouts laden ************/
@import 'startseite';
@import 'vita';