---
---

@import "breakpoints";
@import "reset";
@import "mixins";

// ********** Farben **********
// $darkBlue: #212B44;
$weiss: #fefefe;
$weiss2: #f9f9f9;
// $weiss_transp: rgba(255,255,255,.8);
$weiss_transp: rgba(255,255,255,.95);
$weiss_transp2: rgba(255,255,255,.5);
$weiss_transp3: rgba(255,255,255,.1);

$black: #111;
$black2: #333;
$black3: #2e2e2d;

$black_transp: rgba(0,0,0,.1);
$black_transp2: rgba(0,0,0,.2);
$black_transp3: rgba(0,0,0,.5);
$black_transp4: rgba(0,0,0,.95);

//
// Colors
//

{% assign c = site.data.colours %}
$green: {{ c.green }};
$green2: {{ c.green2 }};
$magenta: {{ c.magenta }};
$magenta2: {{ c.magenta2 }};
$blue:{{ c.blue }};
$darkBlue:{{ c.darkBlue }};
$purple: {{ c.purple }};
$orange: {{ c.orange }};
$darkGrey: {{ c.darkGrey }};
$bronze: {{ c.bronze }};
$gold: {{ c.gold }};
$grey: #888;
$lighterGrey: #ddd;
$darkerGrey: #666;

// colors mp.js, lightbox, video links
$color-white: $weiss;
$color-link: $magenta2;
// $color-link-hover: $weiss;
$color-link-hover: $magenta;
$color-black-transp: $black_transp;

$color-button-text: $color-white;
$color-black-transp-light: $black_transp2;
$color-grey: $grey;
$color-darker: $darkerGrey;


$em: 18px;
$header-height: 5em;

// font stack from bootstrap, source:
// https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
$font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font2: $font;


// Multiplane files
@import 'base';
@import 'css-icons';
@import 'lightbox';
@import 'video-embed';
@import 'privacy-notice';

/************ sonstige Layouts laden ************/
@import 'navigation';
// @import 'animations';
@import 'paginator';
@import 'randnotizen';
@import 'album-previews';

/************ Seiten-Layouts laden ************/
// @import 'startseite';
// @import 'blog';
@import 'vita';

/************ externe Layouts laden ************/
// @import 'lightbox';
@import 'highlights';

html {
    color: $black;
    background-color: $magenta;
    background-image: linear-gradient(120deg, $green, $magenta);
    background-image: radial-gradient($magenta, $weiss);
    background-attachment: fixed;
}


body {
    font-family: $font2;
    font-size: $em;
    font-weight: 400;
}


h1 {
    margin: 0 0 .3em 0;
    font-size: 1.8em;
}
h2 {
    margin: .5em 0 .3em 0;
    font-size: 1.5em;
    border-bottom: 1px dashed #888;
    padding-bottom: .1em;
}
h3 {
    margin: .5em 0 .3em 0;
    font-size: 1.2em;
}
h4 {
    margin: .5em 0 .3em 0;
}
h5 {
    margin: .2em 0 .1em 0;
}

hr {
    border-color: #ccc;
    border-style: dotted;
    border-width: 2px 0 0 0;
}
p + hr {
    padding-bottom: .5em;
}

p.small, .date, .caption,
span.small{
    font-size: .8em;
    line-height: 1em;
    color: $darkerGrey;
    margin: 2px 0;
}
.date {
    font-style: italic;
}
.post-date {
}

a {
    color: $black3;
    text-decoration: underline dotted;
    border-radius: 2px;
    &:hover {
        text-decoration: underline;
    }
}

a[href$=".pdf"]{
    background-image:url(/img/icons/pdf.png);
    background-repeat:no-repeat;
    background-position:00% 50%;
    padding-left:1em;
}
a[href$=".zip"]{
    background-image:url(/img/icons/zip.png);
    background-repeat:no-repeat;
    background-position:00% 50%;
    padding-left:1em;
}
a[href$=".ics"]{
    background-image:url(/img/icons/ics.png);
    background-repeat:no-repeat;
    background-position:00% 50%;
    padding-left:1em;
}

blockquote,q {
    border-left: 10px solid $lighterGrey;
    background-color:$weiss2;
    margin-left:.5em;
    padding-left:.5em;
    quotes: "\201C""\201D""\2018""\2019";

    &:before, &:after {
        color: $grey;
        font-size: 1.5em;
        line-height: 0.1em;
        vertical-align: -0.1em;
        font-style:italic;
    }
    &:before {
        content: open-quote;
    }
    &:after {
            content: close-quote;
    }
    p {
        font-style:italic;
        display:inline;
    }
}

dl {
    dt {
        padding:0;
        margin:0;
        line-height:1.5em;
        float:left;
        clear:both;
        display: list-item;
        list-style-position: inside;
        list-style-type: circle;
        &:after {
            content: ":\00a0"
        }
    }
    dd {
        padding: 0;
        margin: 0;
        line-height: 1.5em;
        margin-bottom: .5em;
        margin-left: 1em;
    }
    p {
        line-height: inherit;
        padding: 0;
    }
}

.invisible {
    display: none;
}


/********* object and image positioning *********/
.center {
    margin: 0 auto;
    text-align: center;
}
.left {
    float: left;
    margin: .2em 1em .2em 0;
}
.right {
    float: right;
    margin: .2em 0 .2em 1em;
}
.clear {
    clear: both;
}
p.vertical-align {
    text-align: center;
    vertical-align: middle;
    a {
        vertical-align: middle;
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    img {
        display: inline-block;
        margin: .2em 1em;
    }
}


header, nav, main, footer, aside {
    box-sizing: border-box;
    margin: 0 auto;
    width: 1000px;
    max-width: 100%;
}
nav, main, footer, aside {
    box-sizing: border-box;
}
header, main, footer {
    padding: 1em;
}
nav + main {
    margin-top: 1em;
}

/********* header *********/
header {
    padding: 3em 1em;
    text-align: center;

    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: -4em;
        z-index: -1;
        width: 100vw;
        height: calc(100% + 8em);
        left: calc((100vw - 100%) / -2);
        transform: skewY(2deg);
        background-color: $green;
        background-image: linear-gradient(120deg, $green, $magenta, $magenta2);
        box-shadow: 0 .25em .5em 0px $black_transp3;

        @include breakpoint(mobile) {
            height: calc(100% + 4em);
        }
    }
}
a.logo {
    display: inline-block;
    text-decoration: none;
    img {
        height: 6em;
        vertical-align: middle;
        transition: transform .5s ease-in-out;
    }
    span {
        font-size: 2em;
        font-weight: bold;
        vertical-align: middle;
        color: $weiss;
        background: $black_transp3;
        padding: .1em .2em;
        border-radius: 2px;
    }
    &:hover {
        text-decoration: none;
        img {
            transform: scale(1.5);
            transition: transform .5s ease-in-out;
        }
    }
}

main {
    background-color: $weiss;

    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: -4em;
        z-index: -1;
        width: 100vw;
        height: calc(100% + 8em);
        left: calc((100vw - 100%) / -2);
        transform: skewY(-4deg);
        background: $weiss;
        // box-shadow: 0 0.125em 0.25em 0px $black_transp3 inset;
        box-shadow: 0 0.25em 0.25em -0.125em $black_transp3 inset;
    }
    ol {
        display: block;
        list-style-type: decimal;
    }
    ul {
        display: block;
        padding-left: .5em;
        margin-bottom: .5em;
        list-style-position: inside;
        list-style-type: disc;
    }
    li p {display: inline;} // kramdown-Bug - rendert das manchmal falsch, wodurch die Listen zerschossen werden und p innerhalb von li auftaucht

    a {
        // color: $magenta2;
        color: $color-link;
        text-decoration: none;
        border-radius: 2px;
        &:hover {
            // color: $weiss;
            color: $color-link-hover;
            // background-color: $green;
        }
    }
}

footer {
    text-align: center;

    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: -8em;
        z-index: -1;
        height: 0;
        left: calc((100vw - 100%) / -2);
        border-top: 4em solid transparent;
        border-right: 50vw solid transparent;
        border-left: 50vw solid $green2;
        border-bottom: 4em solid $green2;
        width: 0;
        display: block;
    }
    &:after {
        content: '';
        position: absolute;
        top: 0em;
        z-index: -1;
        width: 100vw;
        height: 100%;
        left: calc((100vw - 100%) / -2);
        background: $green2;
    }

    nav {
        display: inline-block;
        margin-top: 0;
    }
    .footer-links {
        a {
            display: block;
            line-height: 2em;
        }
    }
}

.label {
    border-radius: 2px;
    @include box-shadow(0 -1px 0 rgba(0, 0, 0, 0.12) inset);
    color: #fff;
    display: inline-block;
    font-size: .8em;
    font-weight: bold;
    line-height: 1;
    padding: 4px 5px;
    background-color:$grey;
}
{% for role in site.data.roles.roles %}.label.{{role[0] | slugify }} {% raw %} { {% endraw %}background-color:{{role[1].colour}};{% raw %} } {% endraw %}{% endfor %}

/***** Collections *********/
.collection {
    img {
        display: block;
        width: 500px;
        margin: 0 auto;
        border-radius: 4px;
        max-width: 90%;
        padding: 8px;
        background-color: rgba(255, 255, 255, 0.5);
        border: 2px solid rgba(0, 0, 0, 0.1);

        @include breakpoint(medium) {
            width: 40%;
            float: left;
            margin: .5em 1em 1em 0;
        }
        @include breakpoint(mobile) {
            width: 90%;
            // float: none;
            margin: 0 auto;
        }
    }
    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 0;
        clear: both;
    }
    + .collection {
        margin-top: 1em;
    }
}

// Inhaltsverzeichnis
#markdown-toc {
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
    padding: 10px;
    margin: 0px 0 10px 10px;
    border-bottom-left-radius: 10px;
    background-color: $weiss;

    @include box-shadow(0 -1px 0 rgba(0, 0, 0, 0.12) inset);

    list-style-type: circle;
    list-style-position: outside;
    font-size: .9em;

    li {
        margin-left: 1.5em;
        position: relative;
    }
    ul {
        padding-left: 1em;
        margin-left: .1em;
        list-style-type: none;
        border-left: 1px solid $grey;
        li {
            margin-left: 0;
            &:before {
                content: "";
                display: block;
                position: absolute;
                left: -1em;
                top: .7em;
                width: .6em;
                height: 1px;
                background-color: $grey;
            }
        }
    }
    a {
        color: $darkGrey;
    }
    &:before {
        content: "Inhaltsverzeichnis";
        display: block;
        font-size: 1.3em;
        text-align: center;
        border-bottom: 1px dashed $grey;
        margin-bottom: .3em;
        padding-bottom: .2em;
    }

    @include breakpoint(medium) {
        // display:inline-block;
        clear: right;
        float: right;
        width: 300px;
        max-width: 33%;
    }

}


/******* markdown images in p tags ************/
main p img {
    border-radius: 4px;
    max-width: 90%;
    padding: 8px;
    background-color: $weiss;
    border: 2px solid rgba(0, 0, 0, 0.1);
}
main p.no-border img {
    background-color: inherit;
    border: none;
    @include box-shadow(none);
}

/************ Galerie ************/
.gallery {
    width: 100%;
    text-align: center;
    a {
        display: inline-block;
        margin: 0;
        padding: 0;
    }
}
a.thumbs {
    margin: .5em;
    border-radius: 4px;
    max-width: 90%;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);

    img {
        display: block;
        width: 150px;
        height: 150px;
    }
    &:hover {
        background-color: $green;
    }
}

/******* embedded videos **********/
.embed {
    // width: 500px;
    max-width: 100%;
    margin: 0 auto;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 36px;
    background-color: transparent;
    border-radius: 50%;
    &:hover {
        border-radius: 2px;
        background-color: $darkGrey;
    }
}

.license-info {
    padding: 1em 0;
    border-top: 4px dotted $lighterGrey;
    p {
        font-size: .8em;
        line-height: 1.5em;
        padding: 0;
    }
    .cc {
        padding-left: 92px;
        background-repeat: no-repeat;
        background-position: 0 50%;
        min-height: 31px;
        a {
            color: inherit;
            text-decoration: underline dotted $magenta2;
            &:hover {
                background-color: inherit;
                color: $magenta2;
            }
        }
    }
    .by {background-image:url(/img/icons/cc/by.png);}
    .by-nd {background-image:url(/img/icons/cc/by-nd.png);}
    .by-sa {background-image:url(/img/icons/cc/by-sa.png);}
    .by-nc {background-image:url(/img/icons/cc/by-nc.png);}
    .by-nc-nd {background-image:url(/img/icons/cc/by-nc-nd.png);}
    .by-nc-sa {background-image:url(/img/icons/cc/by-nc-sa.png);}
    .cc0 {background-image:url(/img/icons/cc/cc0.png);}
}

/********** Breadcrumbs *********/
.breadcrumbs {
    text-align: left;
    font-size: .8em;
    list-style-type: none;
    padding: 0 0 .2em;
    margin-bottom: 1em;
    border-bottom: 1px solid $lighterGrey;
    li {
        display: inline;
        padding: 0;
        margin: 0;
        color: $black2;
    }
    li + li:before { // triangle spacer
        content: '';
        display: inline-block;
        vertical-align: middle;
        color: $darkerGrey;
        border-style: solid;
        border-width: .2em 0 .2em .3em;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        background-color: transparent;
        margin-right: 0.1em;
        font-size: 1.4em;
    }
    a {
        color: $black2;
        text-decoration: underline dotted;

        // revert nav layout
        background: none;
        padding: 0;
        transition: none;
    }
    .active {
        color: $black2;
    }
}

// audio players (converted via js from links to mp3 files)
p {
    audio {
        vertical-align: middle;
        + a {
            margin-left: .5em;
        }
    }
}

#picture-of-raffael {
    padding: 1em;
    img {
        max-width: 100%;
        margin: 0 auto;
        display: block;
        height: auto;
    }
}

.posts-meta {
    .labels {
        display: inline-block;
    }
}

article + article {
    margin-top: 3em;
}

#privacy-notice {
    left: 0;
    padding: 1em;
}

iframe.video_embed {
    background-size: 5%;
    background-repeat: repeat;
    + a.icon-play {
        &:hover {
            color: $magenta2;
        }
    }
}


@include color_change_bg();
@include rotating();
#show-content {
    display: none;
}

#target-to-hide-content:target {

    background: none;

    @include color-change();

    body {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80vmin;
        height: 80vmin;
        margin-top: -40vmin;
        margin-left: -40vmin;
        overflow: hidden;
        background-image: url(/img/logo10_r-transp.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-attachment: fixed;
        background-size: contain;

        animation: rotating 30s linear infinite;

        > * {
            visibility: hidden;
        }

    }
    #show-content {
        display: block;
        visibility: visible;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}


input[type=submit], input[type=reset], input[type=button], button {
    width: auto;
    margin: .1em auto;
    padding: .2em .5em;
    height: 2em;
    font-size: 1em;
    color: $color-button-text;
    background-color: $color-link;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    @include box-shadow(0px -2px 0px $color-black-transp-light inset);
    &:hover, &:focus {
        background-color: $color-link-hover;
    }
    &:disabled {
        background-color: $color-grey;
        color: $color-darker;
        cursor: default;
        &:hover, &:focus {
            background-color: $color-grey;
        }
    }
}

input, button {
    &[type=submit] {
        background-color: $color-link;
        &:hover, &:focus {
            background-color: $color-link-hover;
        }
    }
    &[type=button] {
        background-color: $color-link;
        &:hover, &:focus {
            background-color: $color-link-hover;
        }
    }
    &[type=reset] {
        background-color: $color-darker;
        &:hover, &:focus {
            background-color: $color-link-hover;
        }
    }
    &:disabled {
        background-color: $color-grey;
        color: $color-darker;
        cursor: default;

        &:hover, &:focus {
            background-color: $color-grey;
        }
    }
}

ul.social-links {
    padding: 0;
    list-style: none;
    li {
        display: inline-block;
        margin-right: .2em;
        &:last-child {
            margin-right: 0;
        }
    }
}
