{% assign g = include.gallery %}
<p class="gallery_album_preview">
 <a href="{{ g.permalink }}">
  <img src="{{site.edata}}{{site.galpath}}{{g.album_folder}}/thumbs/{{g.images[0].image}}" alt="{{ g.title }}" title="{{ g.title }}" />
  <span class="title">{{ g.title }}</span>
 </a>
 <span class="description">
{% if g.date_from %}{{ g.date_from | date: '%d.%m.%y' }} - {{ g.date_to | date: '%d.%m.%y' }}{% else %}{{ g.date | date: '%d.%m.%y' }}{% endif %}
{% if g.geolocation %}<br />{{ g.geolocation }}{% endif %}
{% if g.project %}<br />{{ g.project }}{% endif %}
<br />{{ g.images.size }} Bilder
{% if g.description %}<br />{{ g.description }}{% endif %}
 </span>
</p>
