{% assign urls = site.emptyArray %}{% comment %} urls werden in breadcrumbs benötigt {% endcomment %}
{% for item in site.collections %}
 {% for doc in item.docs %}
  {% assign urls = urls | push: doc.url %}
 {% endfor %}
{% endfor %}
{% for item in site.pages %}
 {% assign urls = urls | push: item.url %}
{% endfor %}

{% assign crumbs = page.url | split: '/' %}
{% assign crumbs_total = crumbs | size | minus: 1 %}
{% if crumbs_total > 0 %}
<nav class="breadcrumbs">
<ol class="">
    <li><a href="/">Home</a></li>
   {% for crumb in crumbs offset: 1 %}
    {% if forloop.index == crumbs_total %}
    <li class="active">{{ page.title | truncate: 25, '...' }}</li>
    {% else %}
        {% assign crumb_limit = forloop.index | plus: 1 %}
        {% capture cr %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}{% endcapture %}
            {% if urls contains cr %}
    <li><a href="{{ cr }}">{{ crumb | replace:'-',' ' }}</a></li>
        {% else %}
<li>{{ crumb | replace:'-',' ' }}</li>
            {% endif %}
    {% endif %}
  {% endfor %}
</ol>
</nav>
{% endif %}
