{% assign USERNAME = site.data.social-accounts.flattr %}
{% capture URL %}{{ site.url }}{{ page.url }}{% endcapture %}
{% if page.title %}
  {% capture TITLE %}{{ page.title | uri_escape }}{% endcapture %}
{% endif %}

{% comment %}
{% if page.excerpt %}
 {% capture DESCRIPTION %}{{ page.excerpt | strip_html | uri_escape}} {% endcapture %}
{% else %}
 {% assign DESCRIPTION = site.description | uri_escape %}
{% endif %}
{% endcomment %}

{% assign LANGUAGE = "de_DE" %}

{% comment %}
{% assign TAGS = page.tags | join: "," %}
{% assign HIDDEN = "0" %}
{% assign CATEGORY = "" %}
{% endcomment %}

<div class="donate">
{% comment %}<a href="https://flattr.com/submit/auto?user_id={{USERNAME}}&url={{URL}}&title={{TITLE}}&description={{DESCRIPTION}}&language={{LANGUAGE}}&tags={{TAGS}}&hidden={{HIDDEN}}&category={{CATEGORY}}">flattr</a>{% endcomment %}
<p>Support:<br />
<a class="social-flattr" href="https://flattr.com/submit/auto?user_id={{USERNAME}}&url={{URL}}&title={{TITLE}}&language={{LANGUAGE}}"></a></p>
</div>
