{% assign sorted = site.pressemappe | sort: 'date' %}
{% for referenz in sorted reversed %}
<div class="collection pressemappe">
<h3>{{ referenz.title }}</h3>
<p class="date">{{ referenz.date | date: "%m/%Y" }}</p>
{% if referenz.label %}
{% for label in referenz.label %}
<span class="label">{{label}}</span>
{% endfor %}
{% endif %}
{% if referenz.image %}
  {% for image in referenz.image %}
<img src="{{referenz.url}}../{{image}}" alt="Bild" />
  {% endfor %}
{% endif %}
{{ referenz.content }}
</div>
{% endfor %}