
        <aside id="privacy-notice">
            <h2>Hinweis zum Datenschutz</h2>
            <p>Um eingebettete Videos auf dieser Seite anschauen zu können, müssen diese nachgeladen werden. Ab diesem Moment werden von den PlattformbetreiberInnen personenbezogene Daten über Sie erhoben. Damit Sie diese Meldung nicht immer wieder bestätigen müssen, wird ein sog. Cookie gesetzt.<br>
            Details siehe <a href="/datenschutz">Datenschutzerkärung</a>.</p>
            <form id="privacy-notice-form" action="/" method="post">
                <input id="loadExternalVideos" name="loadExternalVideos" type="checkbox" value="1" checked />
                <label for="loadExternalVideos">
                    Nachladen von externen Medien von YouTube/Vimeo erlauben

                </label>

                <button id="privacy-notice-submit" type="submit">Akzeptieren</button>
                <button id="privacy-notice-cancel" type="reset">Nein</button>
            </form>

        </aside>
