// Meta information - Rand-Notizen
section.meta {
  position:absolute;
  right:1em;
  top:1em;
  width:4em;
  height:1.5em;
  overflow:hidden;
	padding: .1em .1em .2em;
  font-size:.9em;
  line-height:1.6em;
  border-bottom-left-radius:10px;
  background-color:$weiss_transp;
  @include box-shadow(0 -1px 0 rgba(0, 0, 0, 0.12) inset);
  @include transition(width .3s ease-in-out);
  
  img {
    width:300px;
    display:none;
  }
  h2 {
    display:none;
    width:300px;
    margin-top:0;
    text-align:center;
    border-bottom: 1px dashed $grey;
    margin-bottom:.3em;
    padding-bottom:.2em;
    font-size:1.3em;
    font-weight:normal;
  }
  p {
    width:300px;
    line-height:inherit;
    padding-bottom:0;
  }
  &:hover {
    width:300px;
    height:auto;
		padding:10px;
    background-color:$weiss;
    @include box-shadow(2px 2px 4px 1px rgba(0,0,0,0.5));
    h2 {display:block;}
    img {display:inline;}
    &:before{
      content:"";
      display:none;
    }
  }
  &:before {
    content: "meta";
    display:block;
    text-align:center;
		color:$magenta2;
		background-color:#f5f5f5;
		@include box-shadow(1px 1px 2px 0px rgba(0,0,0,0.3));
  }
}