// Meta information - Rand-Notizen
section.meta {
  // float:right;
  // width:300px;
  position:absolute;
  right:1em;
  top:1em;
  width:40px;
  height:40px;
  overflow:hidden;
  // max-width:33%;
  margin:0 0 10px 10px;
  padding:10px;
  font-size:.9em;
  line-height:1.6em;
  // border: 1px solid $grey;
  border-bottom-left-radius:10px;
  background-color:$weiss_transp;
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12) inset;
  -moz-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12) inset;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12) inset;
  
  
  -webkit-transition: width .3s ease-in-out; /* Firefox */
  -moz-transition: width .3s ease-in-out; /* WebKit */
  -o-transition: width .3s ease-in-out; /* Opera */
  transition: width .3s ease-in-out; /* Standard */
  
  img {
    // width:100%;
    width:300px;
    display:none;
  }
  h2 {
    display:none;
    width:300px;
    margin-top:0;
    text-align:center;
    border-bottom: 1px dashed $grey;
    margin-bottom:.3em;
    padding-bottom:.2em;
    font-size:1.3em;
    font-weight:normal;
  }
  p {
    width:300px;
    line-height:inherit;
    padding-bottom:0;
  }
  &:hover {
    width:300px;
    height:auto;
    background-color:$weiss;
    -webkit-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.5);
    h2 {display:block;}
    img {display:inline;}
    &:before{
      content:"";
      // border:none;
      // margin:0;
      // padding:0;
      display:none;
    }
  }
  &:before {
    content: "mehr Infos";
    display:inline-block;
    // padding:0 2px 2px 0px;
    font-size:.9em;
    line-height:1.5em;
    text-align:center;
    vertical-align:middle;
    // border-bottom: 1px dashed $grey;
    // margin-bottom:.3em;
    // padding-bottom:.2em;
  }
}