html.start {
	background-image:none;
	body {
		height:500px;
		width:500px;
		// height:50%;
		// width:50%;
		// padding-bottom:50%;
		position:absolute;
		top:50%;
		left:50%;
		margin-top:-250px;
		margin-left:-250px;
		background-size:cover;
		background-image: url(/images/logo10_r-transp.svg);
		background-repeat: no-repeat;
		background-position:50% 50%;
		// background-size: auto 50%;
		background-attachment:scroll;
		
		// alle weiteren Schriftgrößen sind von folgender Schriftgröße abhängig
		font-size:1.7em;
		
		@include transition(height .4s, width .4s, font-size .4s ease-in-out);
		main{
			display:none;
		}
		
		header {
			
			font-size:inherit;
			
			@include no-animation;
			position:relative;
			height:100%;
			width:100%;
			padding:0;
			.logo {
				// display:none;
				position:fixed;
				top:.5em;
				left:0;
				margin:0 0 0 .5em;
				font-size:.6em;
			 }
		}
		@include breakpoint(flat4){
		font-size:1.5em;
		}
		@include breakpoint(small){
		font-size:1.5em;
		}
		@include breakpoint(flat3){
			height:400px;
			width:400px;
			margin-top:-200px;
			margin-left:-200px;
			// header{font-size:1.5em;}
		}
		@include breakpoint(smaller){
			height:400px;
			width:400px;
			margin-top:-200px;
			margin-left:-200px;
			// header{font-size:1.5em;}
		}
		@include breakpoint(flat2){
			height:300px;
			width:300px;
			margin-top:-150px;
			margin-left:-150px;
			font-size:1.1em;
		}
		@include breakpoint(flat1){
			height:200px;
			width:200px;
			margin-top:-100px;
			margin-left:-100px;
			font-size:1em;
		}
		
		footer {
			// position:fixed;
			// bottom:0;
			// left:0;
			// background-color:transparent;
			
			// @include no-animation;
			display:none;
		}
		
		nav li a {
			background-color:$weiss_transp3;
			&:hover {
				background-color:$weiss_transp2;
			}
		}
		
		.second-nav {
			font-size: .8em;
		}
		.bottom-nav {
			font-size: .8em;
		}
		.top-nav {
			height:100%;
			width:100%;
			font-size:inherit;
			font-style:italic;
			margin:0;
			padding:0;
		}
		
		.second-nav {
			position:static;
			font-weight:normal;
			font-style:italic;
		}
		.top-nav li, .second-nav li {
			position:absolute;
			margin:0;
			padding:0;
			white-space: nowrap;
			font-weight:bold;
			
			a {
				border-top-left-radius:100%;
				border-bottom-right-radius:50%;
				margin:0;
				padding:.2em;
				color:$weiss;
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
				&:hover {
					background-color:$weiss_transp2;
					border-radius:2px;
					color:$darkGrey;
					text-shadow: none;
				}
			}
		}
		// Navigations-Elemente in top-nav rotieren
		.top-nav li {
			&:nth-of-type(1){//Tanz - oben-rechts
				bottom:90%;
				left:50%;
				@include rotate(-18deg);
			}
			&:nth-of-type(2){//Kurse - rechts-unten
				bottom:50%;
				left:90%;
				@include rotate(72deg);
			}
			&:nth-of-type(3){//Design - links-oben
				bottom:50%;
				left:10%;
				@include rotate(-108deg);
			}
			&:nth-of-type(4){//Über - unten-links
				bottom:10%;
				left:50%;
				@include rotate(162deg);
			}
		}
		// Navigations-Elemente in second-nav rotieren
		.second-nav li {
			&:nth-of-type(2){//Galerie
				bottom:20%;
				left:20%;
				@include rotate(198deg);
				// font-size:.7em;
			}
			&:nth-of-type(3){//Blog
				bottom:80%;
				left:20%;
				@include rotate(-72deg);
				// font-size:.7em;
			}
			&:nth-of-type(4){//Kontakt
				bottom:80%;
				left:80%;
				@include rotate(18deg);
				// font-size:.7em;
			}
			&:nth-of-type(1){//Pressemappe
				bottom:20%;
				left:80%;
				@include rotate(108deg);
				// font-size:.7em;
			}
		}
	}
}

// Gimmicks
// Logo rotiert
@-webkit-keyframes rotating { // Safari and Chrome
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
.rotating {
	-webkit-animation: rotating 30s linear infinite;
	-moz-animation: rotating 30s linear infinite;
	-ms-animation: rotating 30s linear infinite;
	-o-animation: rotating 30s linear infinite;
	animation: rotating 30s linear infinite;
}