//
// Style für Paginator
//

.pagination {
  // margin:0 auto;
  margin-top:1em;
  margin-bottom:1em;
  font-family:$font;
  text-align:center;
  font-size:1.2em;
  line-height:1.2em;
  a.previous, a.next {
    // height:2em;
    // width:3em;
    font-weight:bold;
    padding:0 .4em .1em .4em;
    border:2px solid $magenta2;
    // border-radius:50%;
  }
  a.previous {
    border-top-right-radius:60%;
    border-bottom-right-radius:20%;
    border-bottom-left-radius:100%;
  }
  a.next {
    border-top-left-radius:60%;
    border-bottom-left-radius:20%;
    border-bottom-right-radius:100%;
    
  }
  .page_number {
    
  }
}