body.start {
  background-attachment:scroll;
  main{
    display:none;
  }
  nav li a {
    // color:$weiss;
    background-color:$weiss_transp3;
    &:hover {
      background-color:$weiss_transp2;
    }
  }
  
  height:500px;
  width:500px;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-250px;
  margin-left:-250px;
  background-size:cover;
  header {
    height:100%;
    width:100%;
    font-size:2em;
    padding:0;
    .logo {
      // display:none;
      position:fixed;
      top:.5em;
      left:0;
      margin:0 0 0 .5em;
      font-size:.6em;
     }
      .top-nav {
      height:100%;
      width:100%;
      // font-size:2em;
      font-size:inherit;
      font-style:italic;
      // background-color:rgba(0,255,0,.1);
      ul {
        // display:block;
        // height:100%;
        // width:100%;
        margin:0;
        padding:0;
        // background-color:rgba(0,255,0,.1);
        li {
          a {
            // border-radius:0;
            // border-top-left-radius:50%;
            // border-bottom-right-radius:50%;
            margin:0;
            padding:.2em;
            color:$weiss;
            // background-color:$weiss_transp3;
            // &:hover {
              // background-color:$weiss_transp2;
            // }
          }
          // display:block;
          position:absolute;
          margin:0;
          padding:0;
          // width:100%;
          // width:500px;
          // display:inline;
          white-space: nowrap;
          // overflow:hidden;
          text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.9);
          // background-color:rgba(255,0,0,.1);
          &:nth-child(1){//Tanz
            bottom:90%;
            left:50%;
            
            -moz-transform: rotate(-18deg);
            -webkit-transform: rotate(-18deg);
            -o-transform: rotate(-18deg);
            -ms-transform: rotate(-18deg);
            transform: rotate(-18deg);
            
            -webkit-transform-origin: 0% 100%;
            -moz-transform-origin: 0% 100%;
            -ms-transform-origin: 0% 100%;
            -o-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
          }
          &:nth-child(2){//Kurse
            bottom:50%;
            left:90%;
            
            -moz-transform: rotate(72deg);
            -webkit-transform: rotate(72deg);
            -o-transform: rotate(72deg);
            -ms-transform: rotate(72deg);
            transform: rotate(72deg);
            
            -webkit-transform-origin: 0% 100%;
            -moz-transform-origin: 0% 100%;
            -ms-transform-origin: 0% 100%;
            -o-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
          }
          &:nth-child(3){//Design
            bottom:50%;
            left:10%;
            
            -moz-transform: rotate(-108deg);
            -webkit-transform: rotate(-108deg);
            -o-transform: rotate(-108deg);
            -ms-transform: rotate(-108deg);
            transform: rotate(-108deg);
            
            -webkit-transform-origin: 0% 100%;
            -moz-transform-origin: 0% 100%;
            -ms-transform-origin: 0% 100%;
            -o-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
          }
          &:nth-child(4){//Über
            bottom:10%;
            left:50%;
            
            -moz-transform: rotate(162deg);
            -webkit-transform: rotate(162deg);
            -o-transform: rotate(162deg);
            -ms-transform: rotate(162deg);
            transform: rotate(162deg);
            
            -webkit-transform-origin: 0% 100%;
            -moz-transform-origin: 0% 100%;
            -ms-transform-origin: 0% 100%;
            -o-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
          }
          &:nth-child(5){//mehr Kunst
            bottom:20%;
            left:20%;
            
            -moz-transform: rotate(198deg);
            -webkit-transform: rotate(198deg);
            -o-transform: rotate(198deg);
            -ms-transform: rotate(198deg);
            transform: rotate(198deg);
            
            -webkit-transform-origin: 0% 100%;
            -moz-transform-origin: 0% 100%;
            -ms-transform-origin: 0% 100%;
            -o-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
            font-size:.7em;
          }
          &:nth-child(6){//Blog
            bottom:80%;
            left:20%;
            
            -moz-transform: rotate(-72deg);
            -webkit-transform: rotate(-72deg);
            -o-transform: rotate(-72deg);
            -ms-transform: rotate(-72deg);
            transform: rotate(-72deg);
            
            -webkit-transform-origin: 0% 100%;
            -moz-transform-origin: 0% 100%;
            -ms-transform-origin: 0% 100%;
            -o-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
            font-size:.7em;
          }
          &:nth-child(7){//Kontakt
            bottom:80%;
            left:80%;
            
            -moz-transform: rotate(18deg);
            -webkit-transform: rotate(18deg);
            -o-transform: rotate(18deg);
            -ms-transform: rotate(18deg);
            transform: rotate(18deg);
            
            -webkit-transform-origin: 0% 100%;
            -moz-transform-origin: 0% 100%;
            -ms-transform-origin: 0% 100%;
            -o-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
            font-size:.7em;
          }
          &:nth-child(8){//Pressemappe
            bottom:20%;
            left:80%;
            
            -moz-transform: rotate(108deg);
            -webkit-transform: rotate(108deg);
            -o-transform: rotate(108deg);
            -ms-transform: rotate(108deg);
            transform: rotate(108deg);
            
            -webkit-transform-origin: 0% 100%;
            -moz-transform-origin: 0% 100%;
            -ms-transform-origin: 0% 100%;
            -o-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
            font-size:.7em;
          }
        }
      }
    }
  }
  @include breakpoint(flat4){
    // height:300px;
    // width:300px;
    // margin-top:-150px;
    // margin-left:-150px;
    header{font-size:1.5em;}
  }
  @include breakpoint(flat3){
    height:400px;
    width:400px;
    margin-top:-200px;
    margin-left:-200px;
    // header{font-size:1.5em;}
  }
  @include breakpoint(flat2){
    height:300px;
    width:300px;
    margin-top:-150px;
    margin-left:-150px;
    header{font-size:1.1em;}
  }
  @include breakpoint(flat1){
    height:200px;
    width:200px;
    margin-top:-100px;
    margin-left:-100px;
    header{font-size:1em;}
  }
  footer {
    position:fixed;
    bottom:0;
    left:0;
    background-color:inherit;
  }
}

// Gimmicks



@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 10s linear infinite;
  -moz-animation: rotating 10s linear infinite;
  -ms-animation: rotating 10s linear infinite;
  -o-animation: rotating 10s linear infinite;
  animation: rotating 30s linear infinite;
}
