---
layout: default
---

{{content}}

{% for post in paginator.posts %}
    <article class="post">

      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
      
      {% for cat in post.categories %}
      <!--<a class="label {{ cat | slugify }}" href="{{site.baseurl}}/{{ cat }}">{{ cat | slugify }}</a>-->
      <span class="label {{ cat | slugify }}">{{ cat }}</span>
      {% endfor %}
      <p class="date">{{ post.date | date: '%d.%m.%y' }}</p>
      <div class="entry">
        {{ post.excerpt | markdownify }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">weiterlesen...</a>
    </article>
  {% endfor %}
  
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{site.baseurl}}{{ paginator.previous_page_path }}" class="previous" title="zurück"><<</a>
    {% else %}
      <span class="previous"><</span>
    {% endif %}
    <span class="page_number ">Seite {{ paginator.page }} von {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{site.baseurl}}{{ paginator.next_page_path }}" class="next" title="vorwärts">>></a>
    {% else %}
      <span class="next ">></span>
    {% endif %}
  </div>