<!DOCTYPE html>
<html lang="de"{% if page.class %} class="{{ page.class }}"{% endif %} id="target-to-hide-content">
    <head>
        {% assign cacheBust = site.time | date:'?v=%s' %}
        <meta charset="utf-8" />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />{% capture description %}{% if page.description %}{{ page.description | markdownify | strip_html }}{% elsif page.excerpt %}{{ page.excerpt | markdownify | strip_html | truncate: 250 | strip_newlines }}{% else %}{{ site.description }}{% endif %}{% endcapture %}
        <meta name="description" content="{{ description }}" />
        <meta property="og:description" content="{{ description }}" />
        {% if page.title %}
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="twitter:title" content="{{ page.title }}" />
        {% endif %}
        <link rel="stylesheet" type="text/css" href="/style.css{{ cacheBust }}" />
        <link rel="alternate" type="application/rss+xml" href="{{ site.baseurl }}/feed.xml" title="Blog posts - {{ site.title }}" />
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <title>{% if page.title %}{{page.title}} - {% endif %}Raffael Jesche</title>
    </head>
    <body id="top">
        <header>
            <a href="/" class="logo" title="zurück zur Startseite">
                <img src="/img/logo10_r-transp.svg" alt="" />
                <span>Raffael&nbsp;Jesche</span>
            </a>
        </header>
        {% include navigation.html %}
        <aside id="picture-of-raffael">
            <img src="/img/hoop-pole3_opt.svg" alt="" width="400" height="400" />
        </aside>
        <main id="main">
            {% include breadcrumbs.html %}
            {% if page.title %}<h1>{{ page.title }}</h1>{% endif %}
            {{ content }}
        </main>
        <footer>
            <nav>
                <ul class="bottom-nav">{% for nav in site.data.nav.sonstige %}{% capture name %}{{ nav[0] | downcase }}{% endcapture %}
                <li class="tab tab-bottom{% if page.url contains name %} tab-active{% endif %}"><a href="{{ nav[1] }}">{{ nav[0] }}</a></li>{% endfor %}
                </ul>
            </nav>
            <ul class="social-links">
                {% for nav in site.data.nav.social %}
                <li class=""><a href="{{ nav[1] }}" rel="me">{{ nav[0] }}</a></li>
                {% endfor %}
            </ul>
            <div class="footer-links">
                <a class="" href="https://github.com/raffaelj/raffael.one/  tree/gh-pages/{{page.path}}">Quellcode dieser Seite</a>
                <a href="#target-to-hide-content" id="hide-content">Inhalt ist überbewertet</a>
                <a href="#hide-content" id="show-content" title="Inhaltsleere ist langweilig"></a>
                <a href="#top">Nach oben scrollen</a>
            </div>
        </footer>
        {% include privacy-notice.html %}
        <script>
            var MP_BASE_URL = '',
                MP_POLYFILLS_URL = '/js/polyfills.min.js{{ cacheBust }}';
        </script>
        <script src="/js/mp.min.js{{ cacheBust }}"></script>
        <script src="/js/raffael.js{{ cacheBust }}"></script>
        <script>
            MP.ready(function() {
                MP.Lightbox.init({group:".gallery",selector:"a"});
                MP.MailProtection.init({at:"[Ät]",dot:"[PUNKT.]"});
            });
        </script>
    </body>
</html>
