<!DOCTYPE html>
<html lang="de"{% if page.class %} class="{{ page.class }}"{% endif %}>
	<head>
		{% include head.html %}
		<title>{% if page.title %}{{page.title}} - {% endif %}Raffael Jesche</title>
	</head>
	<body id="top">
		<header>
			<p class="logo"><a href="/" title="zurück zur Startseite"><span class="artistname1">Raffael</span> <span class="artistname2">{% if page.artistname %}{{page.artistname}}{% else %}{% comment %}{% include names.inc %}{% endcomment %}Jesche{% endif %}</span></a></p>
			{% include navigation.html %}
		</header>
		<main id="main">
			{% if page.title %}<h1>{{ page.title }}</h1>{% endif %}
			{{ content }}
		</main>
		<footer>
			<a class="edit-source" href="https://github.com/raffaelj/raffael.one/tree/gh-pages/{{page.path}}" target="_blank" title="Quellcode dieser Seite auf Github">&nbsp;</a>
		</footer>
		{% if page.class contains "start" %}{% include gimmick-button.html %}{% endif %}
		{% include js.inc %}
	</body>
</html>